@model AutoHub.Web.ViewModels.Cars.CarsListViewModel


<style>
    .card {
        margin-top: 50px;
    }

    .card-paragraps-container {
        display: flex;
        justify-content: space-around;
    }
</style>

<hr />
<div class="row">
   
        @foreach (var car in Model.Cars)
        {

            <div class="card col-md-5 offset-1" style="width: 18rem;">
                <img src="@car.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">@car.Title</a></h5>
                    <div class="card-paragraps-container">
                        <p class="card-text">@car.ManufactureDate.Year година</p>
                        <p class="card-text">  @car.FuelName</p>
                    </div>
                    <a class="btn btn-primary">@car.Price лева</a>
                </div>
            </div>
        }
    
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />
