@model AddCarInputModel

@{
    ViewData["Title"] = "Add Vehicle";
    var makesItems = this.Model.MakesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var colors = this.Model.Colors.Select(x => new SelectListItem(x.Value, x.Key));
    var coupes = this.Model.CoupeTypes.Select(x => new SelectListItem(x.Value, x.Key));
    var conditions = this.Model.Conditions.Select(x => new SelectListItem(x.Value, x.Key));
    var gearBoxes = this.Model.GearBoxes.Select(x => new SelectListItem(x.Value, x.Key));
    var regions = this.Model.Regions.Select(x => new SelectListItem(x.Value, x.Key));
    var fuels = this.Model.Fuels.Select(x => new SelectListItem(x.Value, x.Key));

}
<style>

    .aditionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
    }

    .hidden {
        display: none;
    }
    
</style>

<h1 class="mt-5 mb-5">Publish your own free  advert</h1>

<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-12">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


    </div>

    <div class="row">

        <div class="col-md-4">
            <label asp-for="MakeId"></label>
            <select asp-for="MakeId" class="form-control" asp-items="makesItems">

                <option disabled value=''>Select make</option>
            </select>
            <span asp-validation-for="MakeId" class="text-danger"></span>
        </div>


        <div class="col-md-4">
            <label asp-for="ModelId"></label>
            <select name="ModelId" id="ModelId" class="form-control"></select>
            <span asp-validation-for="ModelId" class="text-danger"></span>
        </div>

        @*<div class="col-md-4">
                <label asp-for="ModelAsString"></label>
                <input asp-for="ModelAsString" class="form-control" />
                <span asp-validation-for="ModelAsString" class="text-danger"></span>
            </div>*@

        <div class="col-md-4">
            <label asp-for="CoupeId"></label>
            <select asp-for="CoupeId" class="form-control" asp-items="coupes"></select>
            <span asp-validation-for="CoupeId" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Milage"></label>
            <input asp-for="Milage" class="form-control" placeholder="0" />
            <span asp-validation-for="Milage" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="ManufactureDate"></label>
            <input asp-for="ManufactureDate" class="form-control" placeholder="Year of manifacture" />
            <span asp-validation-for="ManufactureDate" class="text-danger"></span>
        </div>


        <div class="col-md-4">
            <label asp-for="ConditionId"></label>
            <select asp-for="ConditionId" class="form-control " asp-items="conditions"></select>
            <span asp-validation-for="ConditionId" class="text-danger"></span>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" placeholder="0" />
            <span asp-validation-for="Price"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="RegionId"></label>
            <select asp-for="RegionId" class="form-control" asp-items="regions">
                <option disabled value=''>Select make</option>
            </select>
            <span asp-validation-for="RegionId" class="text-danger"></span>
        </div>



        <div class="col-md-4">
            <label asp-for="TownId"></label>
            <select name="TownId" id="TownId" class="form-control"></select>
            <span asp-validation-for="TownId" class="text-danger"></span>
        </div>




        @*<div class="col-md-4">
                <label asp-for="TownAsString"></label>
                <input asp-for="TownAsString" placeholder="Town Name" class="form-control" />
                <span asp-validation-for="TownAsString" class="text-danger"></span>
            </div>*@

    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="TechDataUrl"></label>
            <input asp-for="TechDataUrl" class="form-control" />
            <span asp-validation-for="TechDataUrl" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="FuelId"></label>
            <select asp-for="FuelId" class="form-control" asp-items="fuels"></select>
            <span asp-validation-for="FuelId" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="GearBoxId"></label>
            <select asp-for="GearBoxId" class="form-control" asp-items="gearBoxes" id="Region"></select>
            <span asp-validation-for="GearBoxId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <label asp-for="Images"></label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>


        <div class="col-md-3">
            <label asp-for="HorsePower"></label>
            <input asp-for="HorsePower" class="form-control" placeholder="0" />
            <span asp-validation-for="HorsePower" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="ColorId"></label>
            <select asp-for="ColorId" class="form-control" asp-items="colors"></select>
            <span asp-validation-for="ColorId" class="text-danger"></span>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    <div class="aditionsContainer">
 
            @for (int i = 0; i < 20; i++)
            {
                <div class="adition">
                    <label asp-for="@Model.Additions">@Model.Additions[i].Name</label>
                    <input type="hidden" asp-for="@Model.Additions[i].Id" />
                    <input type="checkbox" asp-for="@Model.Additions[i].IsCheked" class="checkbox" />
                </div>
            }




    <div class="containerToHide">
        @for (int j = 20; j < Model.Additions.Count(); j++)
        {
            <div class="adition">
                <label asp-for="@Model.Additions">@Model.Additions[j].Name</label>
                <input type="hidden" asp-for="@Model.Additions[j].Id" />
                <input type="checkbox" asp-for="@Model.Additions[j].IsCheked" class="checkbox" />
            </div>
        }
    </div>

    </div>
   
    <button class="showMoreButton btn btn-primary">Show More!</button>

    <div class="col-md-6  align-self-md-center ">
        <input type="submit" class="btn btn-primary" />
    </div>

</form>


@section Scripts {
    <script src="~/js/makeAndModelDropdown.js"> </script>
<script>

    var showAdditions = false;

    var containerToShow = this.document.getElementsByClassName('containerToHide')[0];
    var btn = this.document.getElementsByClassName('showMoreButton')[0];

    btn.addEventListener('click', (event) =>
    {
        event.preventDefault();

        showAdditions = !showAdditions;

        if (!showAdditions) {
            console.log('Im here');
            containerToShow.classList.remove('hidden');
            btn.innerText = 'Hide'

        } else
        {
            containerToShow.classList.add('hidden');
            btn.innerText = 'Show More'

        }
    })

</script>
}




