@model AutoHub.Web.ViewModels.Home.LatestCarsList
@inject IFormatorForViews formator

@using AutoHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<style>

    .card img {
        width:200px;
        height: 200px;
    }
    .upperPart {
        display: flex;
    }

    .cardSection {
        display: flex;
    }
   .fa-road{
        position: relative;
        top: 2px;
    }


</style>

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <h4>Here you can find your dream car or sell your current one</h4>
    </div>

    <section class="row">
        <div class="col-md-8">
            <h2>Top 5 latest cars</h2>
           
                @foreach (var car in Model.Cars)
                {
               
                    <div class="card mb-4 p-2">
                        <div class="upperPart p-0">
                            <img class="card-img-top" src="@car.ImageUrl" alt="@car.Title">
                            <div class="card-body">
                                <h5 class="card-title"><a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">@car.Title</a></h5>
                                <hr />
                                <section class="cardSection">
                                    <div class="row ml-2 mr-5">
                                        <i class="far fa-calendar-alt mr-2"></i>
                                        <p class="card-text">@car.ManufactureDate.Year година</p>
                                    </div>
                                    <div class="row mr-5">
                                        <i class="fas fa-gas-pump mr-2"></i>
                                        <p class="card-text">  @car.FuelName</p>
                                    </div>
                                    <div class="row mr-5">
                                        <i class="fas fa-map-marker-alt mr-2"></i>
                                        <p class="card-text">@car.TownName</p>
                                    </div>

                                    <div class="row">
                                        <i class="fas fa-solid fa-road mr-2"></i>
                                        <p class="card-text"> @formator.FormatDecimalNumberForDisplay(car.Milage) км</p>
                                    </div>

                                </section>

                                <p class="card-text mb-3 mt-2"><small class="text-muted">Created: @car.CreatedOn</small></p>
                             
                                    <a class="btn btn-primary" asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">@formator.FormatIntegerForDisplay(car.Price) лева</a>
                            
                            </div>                            
                        </div>
                    
                    </div>
                

                  
                    @*<li class="media mb-4">

                    <img class="mr-3 " width="300" ; src="@car.ImageUrl" alt="@car.Title">


                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">@car.Title</a></h5>

                        <span>@car.ShortDescription<a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">...</a></span>
                        <a class="btn btn-primary" asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id">@car.Price лева</a>
                    </div>

            </li>*@
                }

</div>


    </section>
